*.pyc
# .vscode
.git---
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.ipynb_checkpoints
# submodules/
# assets/
*.npz
*.bundle
output*
*.log
log